.enclosureDescription {
	width: 700px;
	height: 150px;
	background: #ff8100;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	font-size: 18px;
	margin-bottom: 20px;
}


.char-block {
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#animal {
	text-align: center;
}

.characteristic {
	text-decoration: underline;
}

.showPrice {
	width: 100px;
	height: 30px;
	background: #ff8100;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.price {
	text-align: center;

}

.elephantDescription {
	display: none;
}

.giraffeDescription {
	display: none;
}

.lionDescription {
	display: none;
}

.camelDescription {
	display: none;
}

.validate_img{
background-image: url(../images/validate.png);
background-position:  0px 0px;
background-repeat: no-repeat;
width: 53px;
height: 33px;
border: none;
background-color: #c8ffd1;
cursor: pointer;
outline: 0;
}


.cancel{
	vertical-align: top;
	
}
