.img_container{
	display: inline-block;
}

#employees_container > span{
	width: 100px;
  	height: 100px;
}

.ec1 > span {
	margin-right:145px;
}

.ec2 > span {
	line-height:50px;
	margin-left:150px;
	text-align: center;
	display: inline-block;;
	position: relative;
	background: #ff8c01;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}


input[type="number"] {
    height: 36px;
    width: 54px;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    -moz-appearance: textfield;
    
}   

input[type="number"].mod::-webkit-outer-spin-button,
input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: transparent url("../images/increase_decrease.png") no-repeat center center;
    width: 16px;
    height: 100%;
    opacity: 1; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
input[type="number"].mod::-moz-inner-spin-button:hover,
input[type="number"].mod::-moz-inner-spin-button:active{

}

.showPrice {
	width: 100px;
	height: 30px;
	margin-left: 240px;
	background: #ff8c01;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.emp_price {
	text-align: center;
	

}

.validate_img{
background-image: url(../images/validate.png);
background-position:  0px 0px;
background-repeat: no-repeat;
width: 53px;
height: 33px;
border: none;
background-color: #c8ffd1;
cursor: pointer;
outline: 0;
}

.validate_img2{
background-image: url(../images/validate.png);
background-position: 0px 25px;
background-repeat: no-repeat;
width: 53px;
height: 40px;
border: none;
background-size: 30%;
background-color: #c8ffd1;
cursor: pointer;
outline: 0;
}